<form class="ui stacked segment form" action="/stations/${_station.id}/addreading" method="POST">
    <div class="five fields">
        <div class="field">
            <label>Code</label>
            <input placeholder="Code" type="number" name="code">
        </div>
        <div class="field">
            <label>Temperature</label>
            <input placeholder="Temperature" type="number" name="temperature">
        </div>
        <div class="field">
            <label>Wind Speed</label>
            <input placeholder="Wind Speed" type="number" name="windSpeed">
        </div>
        <div class="field">
            <label>Wind Direction</label>
            <input placeholder="Wind Direction" type="number" name="windDirection">
        </div>
        <div class="field">
            <label>Pressure</label>
            <input placeholder="Pressure" type="number" name="pressure">
        </div>
    </div>
    <button class="ui blue submit button">Submit Readings</button>
</form>