<table class="ui inverted fixed table">
  <thead>
  <tr>
    <th>Date/Time</th>
    <th>Weather Code</th>
    <th>Temperature (C)</th>
    <th>Wind Speed (Km/h)</th>
    <th>Wind Direction</th>
    <th>Pressure (hPa)</th>
  </tr>
  </thead>
  <tbody>
  #{list items:_station.readings, as:'reading'}
  <tr>
    <td>
      ${reading.date.format('dd MMMM yyyy hh:mm:ss aa')}
    </td>
  <td>
    ${reading.code}
  </td>
  <td>
    ${reading.temperature}
  </td>
  <td>
    ${reading.windSpeed}
  </td>
  <td>
    ${reading.windDirection}
  </td>
  <td>
    ${reading.pressure}  <a href="/stations/${_station.id}/deleteReading/${reading.id}" class="ui right floated mini red button">   Delete Readings</a>
  </td>
  </tr>
    #{/list}

  </tbody>
</table>