<table class="ui fixed table">
  <thead>
  <tr>
    <th>Code</th>
    <th>Temperature</th>
    <th>Wind Speed</th>
    <th>Wind Direction</th>
    <th>Pressure</th>
  </tr>
  </thead>
  <tbody>
  #{list items:_station.readings, as:'reading'}
  <tr>
  <td>
    ${reading.code}
  </td>
  <td>
    ${reading.temperature}
  </td>
  <td>
    ${reading.windSpeed}
  </td>
  <td>
    ${reading.windDirection}
  </td>
  <td>
    ${reading.pressure}  <a href="/stations/${_station.id}/deleteReading/${reading.id}" class="ui right floated mini red button">   delete reading</a>
  </td>
  </tr>
    #{/list}

  </tbody>
</table>