#{if _station.readings.size() > 0}
<div class="ui five black cards">
  <div class="card">
    <div class="content"><i class="right floated large map pin icon"></i>
    <div class="header">#{list items:_station, as:'station'}
      ${station.name}  </div>
      <div class="description">
        <p>Latitude: ${station.lat}</p>
        <p>Longitude: ${station.lng}</p>
      </div>#{/list}
    </div>

  </div>
  #{list items:_station.readings.last(), as:'reading'}

  <div class="card">
   <div class="content"><i class="right floated large ${_station.codeToIcon(reading.code)}"></i>
    <div class="header">Weather</div>
      <div class="description">
        <p>${_station.codeToString(reading.code)}</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content"><i class="right floated large temperature low icon"></i>
      <div class="header">Temperature</div>
      <div class="description">
        <p>${reading.temperature} C</p>
        <p>${_station.celsiusToFahrenheit(reading.temperature)} F</p>
        <p>Max: ${_station.maxTempVal} C</p>
        <p>Min: ${_station.minTempVal} C</p>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="content"><i class="right floated large wind icon"></i>
      <div class="header">Wind</div>
      <div class="description">
        <p>${_station.speedToBeaufort(reading.windSpeed)} bft</p>
        <p>Wind Direction: ${_station.windToString(reading.windDirection)}</p>
        <p>Feels like: ${_station.feelsLike(reading.temperature,reading.windSpeed)} C</p>
        <p>Max Wind Speed: ${_station.maxWindSpeedVal} Km/h</p>
        <p>Min Wind Speed: ${_station.minWindSpeedVal} Km/h</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content"><i class="right floated large temperature high icon"></i>
      <div class="header">Pressure</div>
      <div class="description">
        <p>${reading.pressure} hPa</p>
        <p>Max: ${_station.maxPressureVal} hPa</p>
        <p>Min: ${_station.minPressureVal} hPa</p>
      </div>
    </div>
  </div>
</div>

#{/list}
#{/if}