#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{menu id:"dashboard"/}

#{list items:stations, as:'station'}

<section class="ui black segment">

  <h2 class="ui header">
    ${station.getName()} Station
  </h2>
  #{mainpanel station:station /}
  <div class="ui inverted divider"></div>

  <a href="/stations/${station.id}" class="ui green icon button">
    <i class="icon folder open"></i>
  </a>
  <a href="/dashboard/deleteStation/${station.id}" class="ui red icon button">
    <i class="icon trash"></i>
  </a>
</section>
#{/list}
#{addstation /}
